<% include ../partials/header %>


<div class="row">
  <h1>What do you want to sell?  <br>
<div style="text-align: center; width: 100%; background-color: rgba(255, 255, 255, 0.8);text-align: center; margin-bottom: 10px;" >
         
         
         
         <form accept-charset="UTF-8" style="display: inline-block; width: 90%;" action="/add" method="post" >    
                <div class="item">
                 
                   <label for="name">Name</label>
                    <input name="name" type="text" placeholder="Enter your name" />
                     
                    <label for="activity">Product</label>
                    <input name="activity" type="text" placeholder="Enter Product" />
                   
                    <label for="price">Price</label> 
                    <input name="price" type="text" placeholder="Enter price" />
                    
                    <label for="image">Image</label> 
                    <input name="image" type="text" placeholder="Enter image url" />


<button class="button">Add</button>
          </div>
              </form>
    </div>
  </h1>
</div>



<% include ../partials/footer %>
