<% include ../partials/header %>


<div class="row">
            <div class="holder">
    
            <div class="large">
                  <h1>Jewellery</h1>
                      </div>
        
            <div class="normal">
                   <h1>Clothes</h1>
                      </div>
              
            <div class="normal2">
                   <h1>Shoes</h1>
                      </div>
              </div>
    </div>
<% include ../partials/footer %>
