<% include ../partials/header %>

<div class="row">
    <h1>File Upload Page</h1>
    
    
    <form id="uploadForm" ref="uploadForm" method="post" enctype="multipart/form-data">
        
        <input type="file" class="button" name="sampleFile"/>
        <input type="submit"  value="Upload Imae" />
        
    </form>
           </div>

<% include ../partials/footer %>
